<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.sst{
  float:left;
  width:20%;
  color: black;
  background-color: hsl(0, 20%, 60%);
    style="padding:15px;text-align:left;"
b
}
.menu {

  text-align:center;
  background-color:white;
}


  .menu,  {
    width:100%;
  }
}
</style>
</head>
<body>
</body>
</html>
